{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <ul>
        {% for resource in resources %}
        <li>
            {{ resource.name }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
