{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}

    <a href="/topic/add"> NEW </a>
    <ul>
        {% for item in topics %}
            <li> <a href="/topic/list/{{ item.id }}"> {{ item.name }} </a>
                <span> {{ item.duration }} </span></li>
        {% endfor %}
    </ul>

{% endblock %}
